# CODEOWNERS

* @tritlo @lapplislazuli

# Haskell Stuff

*.hs @tritlo
*.cabal @tritlo

#Genetic Search Stuff

/src/PropR/Search/Genetic/ @lappislazuli

#Docker stuff

docker-compose.yaml @lappislazuli
Dockerfile @lapplislazuli

